@page
@model CorretorInternacional.Web.Pages.Imoveis.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <button class="btn btn-success"><a asp-page="Create" style="decoration:none;color:white;">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imovel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel[0].AdressId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Imovel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
